<h3>JUGADORES</h3>

<tr>
  <ol class="players">
    <li *ngFor="let player of players" [class.selected]="player === selectedPlayer" [class.confirmed]="player.chosen" (click)="onSelect(player)" appSelectedPlayer>
      <div>
        <span class="badge">{{player?.id}}</span>
        <span class="badge-secondary">
          <input class="input" type="checkbox" #playerCheckbox [(ngModel)]="player.chosen" (change)="onChecked(player, playerCheckbox)">
        </span>
        <span>{{player?.nickName}}</span>
      </div>
    </li>
  </ol>
</tr>

<tr>
  <button type="button" class="accept" (click)="onAccept()">Aceptar</button>
</tr>

<tr>
  <app-player-detail [player]="selectedPlayer"></app-player-detail>
</tr>